body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* fonts */
@font-face {
  font-family: 'Inter-Regular';
  src: url(../assets/font/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../assets/font/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Inter-Black';
  src: url(../assets/font/Inter-Black.ttf);
}

@font-face {
  font-family: 'Oswald';
  src: url(../assets/font/Oswald.ttf);
}